# UiPath Studio temporary files
.local/
.settings/
.tmh/

# NuGet packages folder
*.nupkg

# Log files
*.log

# Other temporary files
*.screenshot

# Private test configuration file
TestData/private.testing.config.json

# Specific test data file
TestData/Invoices.xlsx